*{
    padding: 0;
    margin: 0;
}
body{
    background: black;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
a{
    color: inherit;
    text-decoration: none;
    color: white;
}

/* navbar */

nav{
    display: flex;
    background: rgb(31, 30, 30);
    padding: 10px 0;
    justify-content: space-around;
    align-items: center;
}

nav ul{
   
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    
}

nav ul li{
    
   font-size: 14px;
}
.navbar{
    background: #80AA55;
   height: 1em;
   width: 5em; 
   padding: 0.5em 1em;
   margin: 0 10px;
}
.navbar1{
    border: 1px solid #80AA55;  
    height: 2em;
    width: 5em; 
    color: #80AA55;
    padding: 0.5em 1em;
   
}


nav ul li a{
    
    padding: 10px 15px;
 }
nav ul li a:hover{
    background: #80AA55;
    transition-duration: 200ms;
    position: relative;
    -o-transform: scale(1.09) ;     
    -moz-transform: scale(1.09) ;   
    -webkit-transform: scale(1.09);
    overflow: hidden;
    color: white;
}


.imagelogo{
   
    width: 80px;
    height:30px;
   
}


/* hamburger menu */

.menu-toggle{
display: none;
flex-direction: column;
height: 20px;
justify-content: space-between;
position: relative;
z-index: 1;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 23px;
    left: -9px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 23px;
    height: 2px;
    background-color: white;
    transition: all 0.5s;
}



/* header */
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 120px 0;
    color: white;
    align-items: center;
}
.header p{
 font-size: 29px;
}
.header h1{
    display: flex;
    color: white;
}

.head{
    color: white;
    background: #80AA55 ;
    padding:0px 50px ;
    border-radius: 1rem;
    font-size: 12px;
    
  
}
.imageheader{
    width: 50vw;
    height: 60vh;
    display: flex;
    
}

/* unique*/
.unique{
    background: rgb(31, 30, 30);
    padding: 50px 0;
    margin-top:50px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    
}
.unique ul{
    display: flex;
   
}
.unique ul li{
    
    margin: 0 15px;
}

/* Product*/
.product{
    display: flex;
   
    color: white;
   flex-direction: column;
   align-items: center;
   margin: 70px 0;
   
}
.product p{
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}
.product h2{
    color: white;
    text-align: center;
    padding: 10px 10px;
}
.product ul{
    font-size: 12px;
    list-style: none;
    display: flex;
    margin-top: 40px;
}
.product ul li{
    background-color: rgb(31, 30, 30);
    padding: 30px 50px;
    flex: 1;
    margin:0 10px;
    border-radius: 5px;
}

.product_image{
   width: 70px;
   height: 60px;
}
.product_image1{
flex: 1;
}
.product_image2{
flex: 1;
}
/*Feature*/
.features{
    background:rgb(31, 30, 30) ;
    padding: 100px 0;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.features h2{
    color: white;
    text-align: center;
    
   
}
.text_features{
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 10px;
}
.icon{
    background:rgb(44, 43, 43) ;
   width: 23px;
    height: 27px;
    margin: 0 10px;
    
}
.features ul{
    display: flex;
    justify-content: center;
    
}
.features li{
    color: white;
    display: flex;
    padding: 20px 0;
    font-size: 12px;
}
.features ul li p{
    font-size: 9px;
   padding-top: 3px;
   
}
/* Price list*/
.price_list{
    margin-top: 5em;
   display: flex;
   justify-content: center;
    
}
.price_list ul{
    background: rgb(31, 30, 30);
   padding: 25px 25px;
    border-radius: 5px;
    margin:0 1em ;
    list-style-type: none;
    text-align: center;
    align-items: center;
}
.price_list ul li{
    color: white;
    padding:7px 0 ;
    font-size: 12px;
    
}
.price_top{
    text-align: center;
    
    border-bottom: 1px solid rgb(54, 52, 52);
    margin-bottom: 0.7em;
}
.price_top p{
    padding: `10px 0;
}
.price_bottom{
    margin-top: 15px;
    
}

.price_bottom a{
    border:1px solid #80AA55;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    color:#80AA55;
}
.price_bottom a:hover{
    background: #80AA55;
    color: white;
    transition-duration: 200ms;
    position: relative;
    -o-transform: scale(1.09) ;     
    -moz-transform: scale(1.09) ;   
    -webkit-transform: scale(1.09);
    overflow: hidden;
}

.img_price_list{
    width: 8px;
    height: 8px;
    margin-left: 25px;
}
/* About*/
.about{
    background-image:url(image/Group\ 12@2x.png);
    padding: 100px 0;
    text-align: center;
    margin-top: 7em;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}
.about h2{
    color:white;
    
}
.about p{
    color: rgb(236, 232, 232);
    padding-top: 1em;
    font-size: 15px;
}

.register{
    color: white;
    margin-top:7em ;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.register h2{
    padding: 1em 0;
    text-align: center;
    font-size: 16px;
}
.register p{
    text-align: center;
    font-size: 14px;
}
.background_register{
    background:rgb(31, 30, 30) ;
    padding: 22px 19px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.background_register label{
 
 font-size: 10px;
}
.background_register input{
margin-bottom: 0.8em;
padding: 4px 10px;
border-radius: 4px;
font-size: 10px;
display: block;
}
.btn-register{
    float: right;
    background: #80AA55;
    color: white;
    border: none;
    padding: 0.2em 1.5em ;
    
    border-radius: 3px; 
    margin-top: 1.5em;
    cursor: pointer;
    font-size: 12px;
}

.footer{
    background: rgb(31, 30, 30);
    padding: 8px;
    margin-top: 9em;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    align-items: center;
}


.imagefooter{
    width: 70px;
    height: 30px;
    
}

/* hamburger menu animation */

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}


.menu-toggle span:nth-child(4){
    transform-origin: 0 100;
    }

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(10.5px,0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(4.2px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* responsive */
 
@media (max-width: 1024px){
    
}



/* ukuran tablet*/
@media (max-width: 768px) {
    .menu-toggle{
        display: flex ;
       }
   
       
   nav ul{
       position: absolute;
       right: 0;
       flex-direction: column;
       top: 0;
       height: 100vh;
       width: 100%;
       justify-content: space-evenly;
       align-items: center;
       background-color:rgb(31, 30, 30);
       z-index: 1;
       transform: translateX(100%);
       transition: all 1s;
       opacity: 0;
  }


  nav ul.slide{
      opacity: 1;
      transform: translateX(0);
  }

  .imagelogo{
   width: 50px;
   height: 22px;
   
}
  .header{
      font-size: 5px;
      padding: 0 3px;
  }
  .header p{
   font-size: 9.5px;
  }
  .head{
      padding: 0 30px;
      font-size: 7px;
  }

  .unique{
       font-size: 6px;
  }

  .product ul li{
   padding: 8px 17px;
   font-size: 7px;
   justify-content: center;
}

.product img{
   height: 40px ;
   width:25px ; 
}
.product p{
   font-size: 6px;
}
.product h2{
   font-size: 12px;
}


.features h2{
   font-size: 12px;
}
.text_features{
   font-size: 7px;
}
.features ul li p{
   font-size: 5px;
}
.features ul li span b{
   font-size: 6px;
}
.about{
background-size: cover;
padding: 50px;
}
.about h2{
align-items: center;
font-size: 12px;
}
.about p{
font-size: 5px;
}

.register h2{
font-size: 14px;
}
.background_register p{
font-size: 12px;
}
.background_register label{
font-size: 9px;
}
.btn-register{
font-size: 10px
}
.footer{
font-size: 7px;
}
.imagefooter{
width: 50px;
height: 20px;

}

    /* ukuran mobile */
    @media (max-width: 500px) {
        .menu-toggle{
             display: flex ;
            }
        
            
        nav ul{
            position: absolute;
            right: 0;
            flex-direction: column;
            top: 0;
            height: 100vh;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            background-color:rgb(31, 30, 30);
            z-index: 1;
            transform: translateX(100%);
            transition: all 1s;
            opacity: 0;
       }


       nav ul.slide{
           opacity: 1;
           transform: translateX(0);
       }

       .imagelogo{
        width: 50px;
    height: 20px;
        
}
       .header{
           font-size: 5px;
           padding: 0 3px;
       }
       .header p{
        font-size: 9.5px;
       }
       .head{
           padding: 0 30px;
           font-size: 7px;
       }

       .unique{
            font-size: 6px;
       }

       .product ul li{
        padding: 8px 17px;
        font-size: 7px;
        justify-content: center;
    }
    
    
    .product p{
        font-size: 6px;
    }
    .product h2{
        font-size: 12px;
    }


    .features h2{
        font-size: 12px;
    }
    .text_features{
        font-size: 6px;
    }
    .features ul li p{
        font-size: 3px;
    }
    .features ul li span b{
        font-size: 6px;   
    }

.price_list ul li{
    font-size: 4px;
}
.price_list ul{
    padding: 13px 15px;
    
}
.img_price_list{
    width: 4px;
    height: 4px;
    
}
.about{
    background-size: cover;
    padding: 50px;
}
.about h2{
    align-items: center;
    font-size: 12px;
}
.about p{
    font-size: 5px;
}
.register input{
    font-size: 6px;
}
.register h2{
    font-size: 14px;
}
.background_register p{
    font-size: 12px;
}
.background_register label{
    font-size: 7px;
}
.btn-register{
    font-size: 8px
}
.footer{
    font-size: 7px;
}
.imagefooter{
    width: 50px;
    height: 20px;
    
}
}
